<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal en marcha!</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../js/code.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Fjalla+One&family=Major+Mono+Display&family=Montserrat:wght@100&family=Piedra&family=Rokkitt:wght@100;400&family=Titillium+Web:ital,wght@1,300&family=Work+Sans:wght@100&family=Yellowtail&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- menu de navegacion -->
    <ul>
        <li><a href="#">@username</a></li>
        <li><a href="#" onclick="openModal()">+</a></li>
        <li><a href="#">logout</a></li>
    </ul>
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" onclick="closeModal()">&times;</span>
                <h2>Modal Header</h2>
            </div>
            <div class="modal-body">
                <form action="../controller/postController.php" method="POST" enctype="multipart/form-data">
                    <input type="text" id="title" name="title" placeholder="título de la foto...">
                    <input type="file" id="img" name="img">

                    <input type="submit" value="Añadir">
                </form>
            </div>
        </div>

    </div>

    <!-- galeria -->
    <div>
        <div class="three-column">
            <img src="../public/Captura.PNG">
        </div>
    </div>
</body>

</html>